.image-holder{
    position: relative;
    left: 100px;
}

.f-section{
    background-color: lightblue;
}


@media (max-width:769px){
    .banner-content{
            position: relative;
            text-align: center;
            
    }
    .display-2 {
        position:absolute ;
        top:100px;
        left: 8px;
        
        
        
    }

    .btn{
        position: absolute;
       top: 500px;
       left: 600px;
       width: 40%;
       border: none;
    }

    .image-holder{
        position: relative;
        left: 20px;
        z-index: -100;
    }

}
