#yearly-sale{
    background-image: url('C:\Users\ADMIN\Documents\Ecommerce_project\frontend\react-front\src\components\images\single-image1.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 100%;
    
   
    background-color: red;
}